language: java
jdk:
    - oraclejdk8
    - oraclejdk9
    - oraclejdk11
    - openjdk8
    - openjdk10
    - openjdk11

before_install: 
    - echo $JAVA_HOME
    - ls -R /usr/lib/jvm/

script:
    - ./gradlew build
    - ./gradlew check
